<html>
  <head>
    <title>Undead's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href = "/">Undead Blog</a></h1>
    </div>

    <div>
      <p>published: 22.12.2023, 06:05</p>
      <h2><a href = "">The Origin of Drácula</a></h2>
      <p>Drácula (em inglês: Dracula é um romance de terror gótico publicado em 1897, escrito pelo autor irlandês Bram Stoker. Como um romance epistolar, a narrativa é relatada por meio de cartas, diários e artigos de jornal. Não tem um único protagonista, mas abre com o advogado Jonathan Harker fazendo uma viagem de negócios para ficar no castelo de um nobre da Transilvânia, Conde Drácula. Harker escapa do castelo depois de descobrir que Drácula é um vampiro, e o Conde se muda para a Inglaterra e assola a cidade litorânea de Whitby. Um pequeno grupo, liderado por Abraham Van Helsing, caça Drácula e, no final, o mata.</p>

      <p>Drácula foi escrito principalmente na década de 1890. Stoker produziu mais de cem páginas de notas para o romance, extraindo extensivamente da história e do folclore da Transilvânia. Alguns estudiosos sugeriram que o personagem de Drácula foi inspirado por figuras históricas como o príncipe valáquio Vlad, o Empalador, ou a condessa Elizabeth Báthory, mas há um desacordo generalizado. As notas de Stoker não mencionam nenhuma das figuras. Ele encontrou o nome Drácula na biblioteca pública de Whitby enquanto passava férias lá, escolhendo-o porque achava que significava diabo em romeno.</p>

      <p>Após sua publicação, Drácula foi recebido positivamente pelos revisores que apontaram para o uso efetivo do horror. Em contraste, os revisores que escreveram negativamente sobre o romance o consideraram excessivamente assustador. Comparações com outras obras de literatura gótica eram comuns, incluindo sua semelhança estrutural com The Woman in White (1859), de Wilkie Collins. No século passado, Drácula foi situado como uma peça de ficção gótica. Estudiosos modernos exploram o romance dentro de seu contexto histórico—a era vitoriana—e discutem sua representação de papéis de gênero, sexualidade, e raça.</p>

      <p>Drácula é uma das peças mais famosas da literatura em língua inglesa. Muitos dos personagens do livro entraram na cultura popular como versões arquetípicas de seus personagens; por exemplo, Conde Drácula como o vampiro por excelência, e Abraham Van Helsing como um caçador de vampiros icônico. O romance, que está em domínio público, foi adaptado para o cinema mais de 30 vezes, e seus personagens fizeram inúmeras aparições em praticamente todas as mídias.</p>
    </div>

    <div>
      <p>published: 22.12.2023, 06:14</p>
      <h2><a href = "">Franz Kafka</a></h2>
      <p>Franz Kafka (Praga, Império Austro-Húngaro, atual República Tcheca, 3 de julho de 1883 — Klosterneuburg, República Austríaca, atual Áustria, 3 de junho de 1924) foi um escritor boêmio de língua alemã, autor de romances e contos, considerado pelos críticos como um dos escritores mais influentes do século XX. A maior parte de sua obra, como A Metamorfose, O Processo e O Castelo, está repleta de temas e arquétipos de alienação e brutalidade física e psicológica, conflito entre pais e filhos, personagens com missões aterrorizantes, labirintos burocráticos e transformações místicas.</p>

      <p>Kafka nasceu em uma família judaica de classe média e falante de alemão em Praga, então pertencente ao Império Austro-Húngaro. Durante sua vida, a maior parte da população de Praga falava tcheco e a divisão entre os falantes de tcheco e alemão era visível, já que ambos os grupos estavam tentando fortalecer sua identidade nacional. A comunidade judaica muitas vezes achou-se dividida entre esses dois grupos, levantando, naturalmente, questões sobre a origem de uma pessoa. O próprio Kafka era fluente nas duas línguas, considerando o alemão sua língua materna.</p>

      <p>Kafka formou-se em direito e, depois de completar sua educação, conseguiu um emprego em uma companhia de seguros. Começou a escrever contos no seu tempo livre. Pelo resto de sua vida, reclamou do pouco tempo que tinha para dedicar-se ao que chegaria a chamar de "seu chamado". Arrependeu-se de ter tido que dedicar tanto tempo ao seu "ganha pão". Kafka preferia comunicar-se através de cartas; escreveu centenas de cartas para sua família e amigas próximas, incluindo seu pai, sua noiva Felice Bauer e sua irmã mais nova, Ottla Kafka. Tinha uma relação complicada e turbulenta com seu pai, o que teve uma grande influência sobre sua escrita.</p>

      <p>Apenas algumas das obras de Kafka foram publicadas durante sua vida: as coleções de contos Considerações e Um Médico Rural, e contos (como A Metamorfose) em revistas literárias. Preparou a coleção Um Artista da Fome para impressão, mas só foi publicada postumamente. Os trabalhos inacabados de Kafka, como os romances O Processo, O Castelo e O Desaparecido, foram publicados postumamente pelo seu amigo Max Brod, que ignorou o desejo de Kafka de ter seus manuscritos destruídos. Albert Camus, Gabriel García Márquez e Jean-Paul Sartre estão entre os escritores influenciados pela obra de Kafka; o termo "kafkiano" popularizou-se em português como algo complicado, labiríntico e surreal, como as situações encontradas em sua obra.</p>
    </div>
  </body>
</html>